html {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #333;
    color: aliceblue;
    margin-left: 20px;
}

p {
    margin-left: 20px;
}

a, a:visited {
    color: gold;
    text-decoration: none;
}

a:hover {
    color: antiquewhite;
}

nav li {
    display: inline-block;
    padding: 0 20px;
    border-right: 1px solid gold;
}

nav li:first-of-type {
    padding-left: 0;
} 

nav li:last-of-type {
    border-right: none;
}

footer p, h1, h2{
    text-align: center;
}

.homelink {
    margin-left: 0;
}

#nav div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

#nav span {
    font-size: 80px;
    font-weight: bold;
    margin-right: 20px;
}