html {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #222;
    color: aliceblue;
}

main {
    margin: 0 50px;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
}

p {
    margin-left: 20px;
}

a, a:visited {
    color: gold;
    text-decoration: none;
}

a:hover {
    color: antiquewhite;
}

nav ul {
    padding: 10px 0;
    margin-left: 50px;
    background-color: #333;
    border-radius: 10px;
    width: fit-content;
}

nav li {
    display: inline-block;
    padding: 0 20px;
    border-right: 1px solid gold;
}

nav li:last-of-type {
    border-right: none;
}

footer p, h1, h2{
    text-align: center;
}

table, tr, th, td, caption {
    border: 1px solid aliceblue;
    border-collapse: collapse;
    padding: 0.5rem;
}

.homelink {
    margin-left: 0;
}

#nav div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

#nav span {
    font-size: 80px;
    font-weight: bold;
    margin-right: 20px;
}